body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#trivia-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#options-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

button {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

#next-btn {
    margin-top: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
}

#next-btn:hover {
    background-color: #0056b3;
}

.correct {
    background-color: #28a745;
    color: #fff;
}

.incorrect {
    background-color: #dc3545;
    color: #fff;
}

#final-score {
    margin-top: 10px;
}

#score {
    display: none;
}